{% extends "layout.html" %}
{% block title %} Categories {% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block body %}

{% block content %}
<div class="bd-pageheader my-2 rounded">
    <div class="container">
        <h1>Categories</h1>
    </div>
</div>

<div class="container-fluid my-2 rounded">
    {% if categories|count > 0 %}
    <div id="accordion" role="tablist" aria-multiselectable="true">
        {% for category in categories %}
        <div class="card">
            <div class="card-header" role="tab" id="heading_{{category.id}}">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{category.id}}" aria-expanded="true">{{category.name}}</a>
                    <a class="btn btn-link" href="{{ url_for('edit_category', category_id=category.id) }}"><span class="fa fa-edit fa-2x"></span></a>
                    
                    <form action="{{ url_for('delete_category', category_id=category.id) }}" method="post">
                        <button class="btn btn-link"><span class="fa fa-trash-o fa-2x"></span></button>
                    </form>
                </h5>
            </div>
            <div id="collapse_{{category.id}}" class="collapse" role="tabpanel" aria-labelledby="heading_{{category.id}}">
                <div class="card-block">
                    {{category.descr_short}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="container-fuild my-2 mx-3 rounded">    
    <form method="POST" action="{% if cat is defined %}{{ url_for('edit_category',category_id=cat.id)}}{% else %}/new-category{% endif %}">

        <div class="form-group form-inline">
            <div class="row">
                {{ form.csrf_token }}
                <div class="col">{{ form.name }}</div>
                <div class="col">{{ form.descr_short }}</div>
                <div class="col"><button class="btn btn-primary" type="submit">{%if cat%}Save{% else %}Add{%endif%}</button></div>
            </div>
        </div>

    </form>
</div>        
{% endblock %}
{% endblock %}