{% extends "layout.html" %}
{% block title %} Shopping lists {% endblock %}

{% block head %}
{{super()}}
{% endblock %}


{% block content %}


<div class="bd-pageheader my-2 rounded">
    <div class="container-fluid">
        <h1 class="text-center">Shopping List</h1>
    </div>
</div>

<div class="container-fluid my-2 mx-2 rounded">
    {% if lists|count > 0 %}
    <ul id="listtab" class="nav nav-tabs" role="tablist">
        {% for list in lists %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#{{list.name}}" role="tab" data="{{list.name}}" data-id="{{list.id}}" data-loop="{{loop.index}}"><strong>{{list.name}}</strong></a>
        </li>
        {% endfor %}
        <li class="nav-item" data-toggle="modal" data-target="#newList">
            <a class="nav-link" href="#" style="">+Add List</a>
        </li>
        <li class="ml-auto">
            <button id="#delList" href="#" class="btn btn-outline-danger delList" data-id="">-Del List</button>
        </li>
    </ul>

    <div class="tab-content mt-4">
        {% for list in lists %}
        <div class="tab-pane fade" id="{{list.name}}" role="tabpanel">
            <ul class="list-group">
                {% if list.items %}
                <li class="list-group-item justify-content-md-left border-0">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        {#<b>Done!</b>#}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <b>Product</b>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <b>Qnty</b>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <b>Price</b>
                    </div>
                    {#<div class="col-xs-2 col-sm-2 col-md-2">
                    <b>Shop</b>
                    </div>#}
                </li>
                {%endif%}
                {% for item in items|sort(attribute='shop.name') if item.slist.name == list.name %}

                <li class="list-group-item list-group-item-action justify-content-md-left border-left-0 border-right-0{% if item.chk %} list-group-item-success{% endif %}" {% if item.chk %}style="text-decoration:line-through"{% endif %} id="{{item.id}}">
                    <div class="col-xs-2 col-sm-2 cold-md-2"><form method="post" action="{{ url_for('check_item', item_id=item.id) }}"><button class="btn btn-link">{% if item.chk %}<i class="fa fa-check-square-o fa-2x"></i>{%else%}<i class="fa fa-square-o fa-2x"></i>{%endif%}</button></form>
                    </div>
                    <div class="col-xs-4 col-sm-4 cold-md-4"><a href="#">{{item.product.name}}</a></div>
                    <div class="col-xs-2 col-sm-2 col-md-2">{{item.qnty}}</div>
                    <div class="col-xs-2 col-sm-2 col-md-2">$ {{item.price}}</div>
                    <div class="col-xs-2 col-sm-2 col-md-2"><button style="display: none" id="itemDelButton_{{item.id}}">-Del</button></div>
                </li>
                {% endfor %}
            </ul>   
        </div>
        {% endfor %}
    </div>        

    <div class="container-fluid my-2 mx-2 rounded">
        <button class="btn btn-outline-primary btn-lg" style="border-radius:24px" data-toggle="modal" data-target="#newItem"><i class= "fa fa-plus"></i>Add</button>
        <div class="modal fade" id="newItem" tabindex="-1" role="dialog" arialabeldby="newItem" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newItem">Select Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container col-md-12">
                            {% for category in categories %}
                            {% if (loop.index is divisibleby 4) or (loop.index == 1) %}<div class="row my-2 mx-2">{% endif %}
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <button class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#ItemsInCategory" id="category" data-category="{{ category.name }}">{{ category.name }}</button>
                            </div>
                            {% if (loop.index is divisibleby 3) %}</div>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" data-toggle="modal" toggle="modal" data-target="#newCategoryModal">+New category</button>

                        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Back</span></button>
                    </div>
                </div> <!-- End of modal-content --> 
            </div> <!-- End of modal-dialog -->
        </div> <!-- End of modal  -->

        <div class="modal fade" id="ItemsInCategory" tabindex="-1" role="dialog" arialabeldby="ItemsInCategory" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="overflow-y: initial !important; width: auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newItem">Select Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div style="height:200px; overflow-y: auto;" class="modal-body" id="product-modal-body">
                        <ul class="list-group" id="product_list">
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary float-left" data-toggle="modal" toggle="modal" data-target="#newItemModal">+New Item</button>
                        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Back</span></button>
                    </div>
                </div> <!-- End of modal-content --> 
            </div> <!-- End of modal-dialog -->
        </div> <!-- End of modal  -->

        <div class="modal fade" id="price_qnty" tabindex="-1" role="dialog" arialabeldby="ItemsInCategory" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="price_qnty">Enter qnty and price</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="product-modal-body">
                        <form class="form-group" method="post" action="/new-item/" id="itemform">
                            {{ itemform.csrf_token }}
                            {{ itemform.product_id}}
                            {{ itemform.shop_id }}
                            {{ itemform.quantity}}
                            {{ itemform.price}}
                            {{ itemform.notes}}
                            {{ itemform.list_id}}
                            <button type="submit" class="btn btn-primary">ADD</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Back</span></button>
                    </div>
                </div> <!-- End of modal-content --> 
            </div> <!-- End of modal-dialog -->
        </div> <!-- End of modal  -->


    </div> <!-- End of container -->

    {% endif %}
</div>



<div class="container-fluid my-4 mx-2 rounded">
    <div class="modal fade" id="newList" tabindex="-1" role="dialog" aria-labelledby="newList" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" method="post" action='/new-list'>
                <div class="modal-header">
                    <h5 class="modal-title" id="newList">Add new list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#<ul>
                    {% for list in lists %}
                    <li>
                        {{ list.name }} - {{list.creation_date}}
                        <form action="{{ url_for('delete_list', list_id=list.id) }}" method="post">
                            <button class="btn btn-link"><span class="fa fa-trash-o fa-2x"></span></button>
                        </form>
                    </li>
                    {% endfor %}
                    </ul>#}
                    <form method="post" action='/new-list' id="newListForm">
                        {{ form.csrf_token }}
                        {{ form.name(required='required') }}
                        <button type="submit" class="btn btn-primary my-2">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    $(document).ready(function(){


        $('[data-toggle="tooltip"]').tooltip();

        var lastTab = localStorage.getItem('lastTab');

        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
        else
        {
            $('a[data-toggle="tab"]').first().tab('show');
        }


        $("#newListForm").submit(function(e){
            e.preventDefault();
            var name=$(this).find('input[name="name"]').val();
            localStorage.setItem('lastTab','#' + name);
            this.submit();
        });

        $('.modal')
            .on({
            'show.bs.modal':function(){
                var idx = $('.modal:visible').length;
                $(this).css('z-index', 1040 + (5*idx));
            },

            'shown.bs.modal':function(){
                var idx=($('.modal:visible').length) - 1;
                $('.modal-backdrop').not('.stacked')
                    .css('z-index',1039 + (5*idx))
                    .addClass('stacked');
            },

            'hidden.bs.modal':function(){
                if($('.modal:visible').length > 0){
                    setTimeout(function(){
                        $(document.body).addClass('modal-open');
                    },0);
                }
            }

        });

        $('#ItemsInCategory').on('show.bs.modal',function(event){

            var button=$(event.relatedTarget);
            var category = button.data('category');

            $.getJSON($SCRIPT_ROOT+'/_parse_data',{
                category: category,
            },
                      function(data){
                products=data.data;
                var list = $('#product_list');
                list.empty();
                $.each(products,function(i){
                    var item=$('<button/>')
                    .addClass('list-group-item list-group-item-action')
                    .attr('data-product-name',products[i].name)
                    .attr('data-toggle','modal')
                    .attr('data-target','#price_qnty')
                    .text(products[i].name)
                    .appendTo(list);
                });
            });

        });

        $('#price_qnty').on('show.bs.modal',function(event){

            var button=$(event.relatedTarget);
            var product_name=button.data('product-name');
            var list_name = $(".nav-tabs .active").data("name");
            var loop = $(".nav-tabs .active").data("loop")

            console.log(product_name);
            console.log(list_name);
            console.log(loop);

            $('#{{itemform.product_id.id}}').val(product_name);
            $('#{{itemform.list_id.id}}').val(list_name);
            $('#{{itemform.loop.id}}').val(loop);
        });

        $(".delList").click(function(){
            if(confirm('Do you want to delete '+localStorage.getItem('lastTab')+'?')){
                var firsttab=$(".nav-tabs a:first").attr("data");
                localStorage.setItem('lastTab','#' + firsttab);
                $.post('/delete-list/'+$(".delList").data("id"));
                setTimeout(function() {
                    window.location.reload();
                },0);                
            }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab',function(e){
            var list_id=$(".nav-tabs .active").data("id");
            $(".delList").data("id",list_id);
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        
        $('.list-group-item').hover(function(){
            item_id=this.id;
            console.log("show #itemDelButton_"+item_id);
            $(this).find('#itemDelButton_'+item_id).show();
        },function(){
            item_id=this.id;
            console.log("hide #itemDelButton_"+item_id);
            $(this).find('#itemDelButton_'+item_id).hide();
        });
        
    });
</script>

{% endblock %}
