{% extends "layout.html" %}
{% block title %} Shopping lists {% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block body %}

{% block content %}
<div class="bd-pageheader my-2 rounded">
    <div class="container">
        <h1>Shopping lists</h1>
    </div>
</div>

<form action="" method=post class="form-horizontal">

    {% if slist is defined %}
    <h2>Edit list</h2>
    {% else %}
    <h2>Create new list</h2>
    {% endif %}  

    <div class = "input-group">
        <input type="text" name = "list_name" class="form-control" placeholder = "Please give list name" {% if slist is defined %} value="{{ slist.name }}"{% endif %}
               autofocus=1 required>
        <span class = "input-group-btn">
            <button class = "btn btn-default" type="submit">{% if slist %}Save{% else %}Create New{% endif %}</button>
        </span>
    </div>    

    {% endblock %}


    {% endblock %}